.CondaPkg/
test_data/debug/
src/test_rotacji/
src/test_rotacji.nii.gz
test_data/pet_data/
.vscode/settings.json
test_data/for_resample_target/
test_data/Tests/
test/new/
.venv

# Test outputs
test/*/outputs/
test/visual_output/
test_data/dataset_Lu/
test_data/autoPET-III-Lite/
experiments/suv_consistency/**/*.nii.gz
test_data/
